{
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "singleQuote": true,
  "endOfLine": "crlf",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "semi": true,
  "trailingComma": "all",
  "jsxSingleQuote": true
}
