$bg_color: #141518

*
  box-sizing: border-box

body
  background-color: $bg_color
  padding-inline: 105px
  font-family: sans-serif
  font-weight: 200

.main__container
  .title
    color: white
    font-size: 2rem
