$bg_color: #141518

*
  box-sizing: border-box

body
  background-color: $bg_color
  font-family: sans-serif
  font-weight: 200
  margin: 0px

.main__container
  .title
    color: white
    font-size: 2rem
  #dashboard__table
    display: flex
    background-color: red
    overflow-x: auto
    white-space: nowrap
    padding: 10px
    gap: 20px
