#navbar-container
    display: flex
    position: relative
    gap: 24px
    height: 100vh
    box-sizing: border-box
    nav
        background-color: #33363e
        height: 100vh
        flex-shrink: 0
        width: 298px
        color: white
        padding-inline: 32px
        padding-block: 24px
    #outlet_container
        overflow-x: auto
        flex-grow: 1
        height: 100vh
