#navbar-container
    display: flex
    position: relative
    gap: 24px
    height: 100vh
    box-sizing: border-box
    nav
        background-color: #33363e
        height: 100vh
        flex-shrink: 0
        width: 298px
        color: white
        padding-inline: 24px
        padding-block: 24px
        ul
            list-style: none
            padding: 0
            li
                padding: 8px
                font-size: 18px
                margin-bottom: 12px
            li:hover
                background-color: #86808041
                border-radius: 8px
            li.active
                border-radius: 8px
                background-color: #868080dd
            a
                color: white
                text-decoration: none
    #outlet_container
        overflow-x: auto
        flex-grow: 1
        height: 100vh
